body {
	box-sizing: border-box;
	font-family: var(--main-font);
	border: none;
	width: 100%;
	
}

*, *::before, *::after { 
	box-sizing: border-box; 
	margin: 0;
    padding: 0;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
	/* color: var(--color-text); */
	display: inline-block;
}

ul, ul, li {
	list-style: none;
	padding: 0;
}

button {
	padding: 0;
	border: none; 
}

input {
	padding: 0;
	/* outline: 1px solid var(--gray-300); */
	border: none; 
	width: 100%;           /* Теперь он стремится занять место, которое дали */
    display: block;        /* Убираем лишние зазоры inline-элемента */
    min-width: 0;

}